[Desktop Entry]
Type=Application
Exec=/usr/bin/fusuma -d
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Fusuma Touchpad Gestures
Name=Fusuma Touchpad Gestures
Comment[en_US]=
Comment=
