[Desktop Entry]
Type=Application
Exec=/bin/stat /mnt/keenetic
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Nautilus keenetic share write access fix
Name=Nautilus keenetic share write access fix
Comment[en_US]=
Comment=
