[Desktop Entry]
Type=Application
Name=Spotify (no ads)
GenericName=Music Player
Icon=spotify-client
TryExec=spotify
Exec=/home/archil/scripts/gtk-enforce-theme-variant -qt dark 'LD_PRELOAD=/usr/lib/spotify-adblock.so spotify'
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify

